*
	box-sizing: border-box

	&::after,
	&::before
		box-sizing: border-box

body
	// width: 1920px
	// max-width: 100%
	// margin: 0 auto
	// overflow-x: hidden

body
	position: relative
	&.page-template-training
		overflow: visible

#primary
	padding-top: calc(var(--header_header) - 2px)
	overflow: hidden
	.page-template-training &
		overflow: visible

.site
	position: relative
	overflow: hidden
	// .section-bg
	// 	background: $color-black
	.page-template-training &
		overflow: visible
img
	width: 100%
	height: auto

.section-bg
	width: 100vw
	height: 100%
	position: absolute
	top: 0
	left: 50%
	margin-left: calc(-1 * (100vw / 2))
	z-index: -1
	background-position: center
	background-size: cover
	background-repeat: no-repeat

.line
	width: 100%
	border: 1px $color-gray-2 solid

.img-absolute
	position: absolute
	width: 100%
	height: 100%
	inset: 0
	object-fit: cover

.position-absolute
	// position: absolute - this is already included
	&--center
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)

.bg
	&--primary
		background-color: $color-primary
	&--black
		background-color: $color-black
	&--white
		background-color: $color-white
	&--secondary
		background-color: $color-secondary
	&--secondary-2
		background-color: $color-secondary-medium-dark
	&--secondary-3
		background-color: $color-secondary-dark
	&--gold
		background-color: $color-gold
	&--orange
		background-color: $color-orange
	&--orange-2
		background-color: $color-orange-2
	&--orange-3
		background-color: $color-orange-3
	&--gradient-orange
		background: $gradient-orange
	&--gray--3
		background: $color-gray-3
.text-color
	&-primary
		color: $color-primary
	&-black,
	&-black *
		color: $color-black
	&-white,
	&-white *
		color: $color-white
	&-secondary
		color: $color-secondary
	&-secondary-2
		color: $color-secondary-medium-dark
	&-secondary-3
		color: $color-secondary-dark
	&-default
		color: $default-text-color
	&-gray
		color: $color-gray-1
	&-gray-2
		color: $color-gray-2
	&-gray-3
		color: $color-gray-3
	&-orange
		color: $color-orange
	&-orange-2
		color: $color-orange-2
	&-orange-3
		color: $color-orange-3

/* the slides */
.slick-slide
	margin: 0 27px

  /* the parent */
.slick-list
	margin: 0 -27px

.slick-dots
	bottom: 0px
	li
		width: auto
		height: auto
		&.slick-active
			button
				background-color: $color-orange-2
		button
			width: 16px
			height: 16px
			border-radius: 9999px
			border: 1px $color-black solid
			background-color: $color-white
			&::before
				display: none

.sticky
	position: sticky !important
	top: 130px
	height: fit-content
	z-index: 5
	+max-screen($breakpoint-xm)
		top: 110px
	+max-screen($breakpoint-lg)
		position: relative !important
		height: auto
		top: auto

body
	#cookie-notice
		max-width: 1920px !important
		min-width: auto
		width: 100%
		margin: 0 auto
		left: 50%
		transform: translateX(-50%)
		background-color: $color-gray-3 !important
		font-family: $font-family-base
		.cookie-notice-container

			+max-screen($breakpoint-sm)
				padding: 15px 35px
			#cn-notice-text
				color: $color-gray-1
		.cn-button:not(.cn-button-custom)
			background: $color-primary !important
			font-family: $font-family-base !important
		.cn-close-icon
			+max-screen($breakpoint-sm)
				right: 10px
				top: 15px
sup
	font-size: 18px
	+max-screen($breakpoint-sm)
		font-size: 14px

.max-width
	position: relative
	overflow: hidden
	max-width: 1920px
	margin-left: auto
	margin-right: auto
.overflow--visible
	overflow: visible !important
