*
	box-sizing: border-box

	&::after,
	&::before
		box-sizing: border-box

#app
	min-height: calc(100vh - 260px)
	box-sizing: border-box
	+max-screen(769px)
		min-height: 0
#main
	width: 100%
	overflow: hidden
	padding-top: 98px

.site
	position: relative
	overflow: hidden
	// .section-bg
	// 	background: $color-black
img
	width: 100%
	height: auto

.section-bg
	width: 100vw
	height: 100%
	position: absolute
	top: 0
	left: 50%
	margin-left: calc(-1 * (100vw / 2))
	z-index: -1
	background-position: center
	background-size: cover
	background-repeat: no-repeat

.line
	width: 100%
	border: 1px $color-gray-2 solid

// .ui__block
// 	background: grey

.bg
	&--primary
		background-color: $color-primary
	&--black
		background-color: $color-black
	&--white
		background-color: $color-white
	&--secondary
		background-color: $color-secondary
	&--gradient-orange
		background: $gradient-orange
	&--gray--3
		background: $color-gray-3
.text-color
	&-primary
		color: $color-primary
	&-black,
	&-black *
		color: $color-black
	&-white,
	&-white *
		color: $color-white
	&-secondary
		color: $color-secondary
	&-secondary-2
		color: $color-secondary-medium-dark
	&-secondary-3
		color: $color-secondary-dark
	&-default
		color: $default-text-color
	&-gray
		color: $color-gray-1
	&-gray-2
		color: $color-gray-2
	&-gray-3
		color: $color-gray-3
	&-orange
		color: $color-orange
	&-orange-2
		color: $color-orange-2
	&-orange-3
		color: $color-orange-3

/* the slides */
.slick-slide
	margin: 0 27px

  /* the parent */
.slick-list
	margin: 0 -27px

.slick-dots
	bottom: 0px
	li
		width: auto
		height: auto
		&.slick-active
			button
				background-color: $color-orange-2
		button
			width: 16px
			height: 16px
			border-radius: 9999px
			border: 1px $color-black solid
			background-color: $color-white
			&::before
				display: none
