.container
	padding-left: 30px
	padding-right: 30px
	width: 100%
	margin: 0 auto
	max-width: 1580px
	+max-screen($breakpoint-xm)
		max-width: 85%
	+max-screen($breakpoint-lg)
		max-width: 100%
	+max-screen($breakpoint-md)
		padding-left: 30px
		padding-right: 30px
	+max-screen($breakpoint-sm)
		max-width: 100%
		padding-left: 16px
		padding-right: 16px
	+max-screen(330px)
		padding-left: 20px
		padding-right: 20px

.row
	&--x
		&--center
			justify-content: center
	&--y
		&--middle
			align-items: center
		&--top
			align-items: flex-start
		&--bottom
			align-items: flex-end

.section
	position: relative
	padding-top: 120px
	padding-bottom: 120px
	+adaptive-value("padding-top", 120, 60, 0)
	+adaptive-value("padding-bottom", 120, 60, 0)
	&--spacing--sm
		padding-top: 75px
		padding-bottom: 75px
		+adaptive-value("padding-top", 75, 40, 0)
		+adaptive-value("padding-bottom", 75, 40, 0)
	&--spacing--md
		padding-top: 80px
		padding-bottom: 80px
		+adaptive-value("padding-top", 80, 40, 0)
		+adaptive-value("padding-bottom", 80, 40, 0)
	&--spacing--lg
		padding-top: 80px
		padding-bottom: 150px
		+adaptive-value("padding-top", 80, 50, 0)
		+adaptive-value("padding-bottom", 150, 100, 0)
	&--fullscreen
		min-height: 70vh
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

.mb
	&-40
		+adaptive-value("margin-bottom", 40, 20, 0)
	&-50
		+adaptive-value("margin-bottom", 50, 30, 0)
	&-60
		+adaptive-value("margin-bottom", 60, 30, 0)
	&-74
		+adaptive-value("margin-bottom", 74, 40, 0)
	&-75
		+adaptive-value("margin-bottom", 75, 40, 0)
	&-80
		+adaptive-value("margin-bottom", 80, 40, 0)
	&-100
		+adaptive-value("margin-bottom", 100, 50, 0)
	&-120
		+adaptive-value("margin-bottom", 120, 60, 0)
	&-150
		+adaptive-value("margin-bottom", 150, 100, 0)
.mt

	&-40
		+adaptive-value("margin-top", 40, 20, 0)
	&-60
		+adaptive-value("margin-top", 60, 30, 0)
	&-75
		+adaptive-value("margin-top", 75, 40, 0)
	&-80
		+adaptive-value("margin-top", 80, 40, 0)
	&-120
		+adaptive-value("margin-top", 120, 60, 0)
.pb
	&-80
	&-150

.max
	&--width
		&--694
			max-width: 694px
			+max-screen($breakpoint-lg)
				max-width: none
		&--718
			max-width: 718px
			+max-screen($breakpoint-lg)
				max-width: none
		&--720
			max-width: 720px
			+max-screen($breakpoint-lg)
				max-width: none
		&--740
			max-width: 740px
			+max-screen($breakpoint-lg)
				max-width: none
