html, body
  -webkit-overflow-scrolling: touch

body
	position: relative
	font-family: $font-family-base
	ont-size: $default-font-size
	font-style: normal
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-backface-visibility: hidden
	-webkit-tap-highlight-color: transparent
	font-weight: 500

h1,
.h1
	font-size: 80px
	+adaptive-value("font-size", 80, 40, 0)
	line-height: 1.2
	font-weight: 500

h2,.h2
	font-size: 60px
	+adaptive-value("font-size", 60, 30, 0)
	line-height: 1.16
	font-weight: 500

h3,.h3
	font-size: 49px
	+adaptive-value("font-size", 49, 27, 0)
	line-height: 1.2
	font-weight: 500

h4,.h4
	font-size: 42px
	+adaptive-value("font-size", 42, 24, 0)
	line-height: 1.2
	font-weight: 500

h5,.h5
	font-size: 32px
	+adaptive-value("font-size", 32, 20, 0)
	line-height: 1.2 // I am not 100% sure
	font-weight: 500

h6,.h6
	font-size: 24px
	+adaptive-value("font-size", 24, 18, 0)
	line-height: 1.5
	font-weight: 500

.text
	&--uppercase
		text-transform: uppercase
	&--capitalize
		text-transform: capitalize
	&--lowercase
		text-transform: lowercase
	&--left
		text-align: left
	&--right
		text-align: right
	&--center
		text-align: center
	&--underline
		text-decoration: underline

	&--size--13,&--size--13 *
		font-size: 13px
		+adaptive-value("font-size", 13, 13, 0)

	&--size--17,&--size--17 *
		font-size: 17px
		+adaptive-value("font-size", 17, 15, 0)

	&--size--18,&--size--18 *
		font-size: 18px
		+adaptive-value("font-size", 18, 16, 0)

	&--size--19,&--size--19 *
		font-size: 19px
		+adaptive-value("font-size", 19, 16, 0)

	&--size--22,&--size--22 *
		font-size: 22px
		+adaptive-value("font-size", 22, 18, 0)

	&--size--24,&--size--24 *
		font-size: 24px
		+adaptive-value("font-size", 24, 20, 0)
	&--size--26,&--size--26 *
		font-size: 26px
		+adaptive-value("font-size", 26, 22, 0)
	&--size--27,&--size--27 *
		font-size: 27px
		+adaptive-value("font-size", 27, 23, 0)
	&--size--32,&--size--32 *
		font-size: 32px
		+adaptive-value("font-size", 32, 24, 0)
	&--size--42,&--size--42 *
		font-size: 42px
		+adaptive-value("font-size", 42, 28, 0)
	&--size--50,&--size--50 *
		font-size: 50px
		+adaptive-value("font-size", 50, 28, 0)
	&--size--100,&--size--100 *
		font-size: 100px
		+adaptive-value("font-size", 100, 40, 0)
	&--size--113,&--size--113 *
		font-size: 113px
		+adaptive-value("font-size", 113, 43, 0)
.font

	&--italic
		font-style: italic
	&--weight
		&--thin,&--100
			font-weight: 100
		&--light, &--300
			font-weight: 300
		&--regular, &--400
			font-weight: 400
		&--500
			font-weight: 500
		&--medium, &--600
			font-weight: 600
		&--700
			font-weight: 700
		&--bold, &--800
			font-weight: 800
		&--black, &--900
			font-weight: 900
	&--style
		&--second
			font-family: $font-family-second
.content-block

	h1
		font-size: 49px
		line-height: 1.2
		font-weight: 500
	h2
		font-size: 32px
		line-height: 1.2
		font-weight: 500
	h3
		font-size: 24px
		line-height: 1.5
		font-weight: 500
	h4
		font-size: 22px
		line-height: 1.5
		font-weight: 500
	h5
		font-size: 18px
		line-height: 1.5
		font-weight: 500
	h6
		font-size: 16px
		line-height: 1.5
		font-weight: 500

	p
		margin-bottom: 40px
		+max-screen($breakpoint-xm)
			margin-bottom: 20px
		&:nth-child(1)
			padding-top: 0

		&:nth-last-child(1)
			padding-bottom: 0
			margin-bottom: 0

	h2,h3,h4,h5,h6
		margin-top: 20px
		margin-bottom: 40px
		+max-screen($breakpoint-xm)
			margin-top: 20px
			margin-bottom: 20px
		&:first-of-type
			margin-top: 0

	a

		transition: 0.3s
		color: $color-primary
		font-weight: 500
		text-decoration: underline
		&:hover
			opacity: 0.8

	ul
		margin: rem(40px 0)
		margin-left: rem(20px)
		+max-screen($breakpoint-xm)
			margin: rem(20px 0)
		li
			display: block
			position: relative
			margin-bottom: 8px
			line-height: 1.4
			padding-left: 14px

			&:nth-last-child(1)
				margin-bottom: 0
			&:before
				position: absolute
				content: ''
				background-color: $color-gray-1
				width: 5px
				height: 5px
				min-width: 5px
				border-radius: 50%
				margin-bottom: 0.12em
				display: inline-block
				left: 0
				top: 11px
			ol
				margin: rem(10px 0)
			ul
				margin: rem(10px 0)
				margin-left: rem(25px)
	ol
		list-style: disc
		// counter-reset: my-counter
		margin: rem(40px 0)
		+max-screen($breakpoint-xm)
			margin: rem(20px 0)
		li
			// counter-increment: my-counter
			list-style-type: auto
			padding-left: 14px
			margin-left: rem(20px)
			margin-bottom: 8px

			&:nth-last-child(1)
				margin-bottom: 0
			// &:before
			// 	content: counter(my-counter) "."
			// 	color: $color-primary
			// 	margin-right: 10px
			// 	margin-top: 8px
			ol
				margin: rem(10px 0)
				margin-left: 25px
			ul
				margin: rem(10px 0)
				margin-left: rem(25px)
	img
		width: auto
		height: auto
	code
		margin: 11px 0
		line-height: $default-line-height
		padding: 2px 4px
		border: 1px solid #dde4e9
		background-color: #F6F6F6
		color: #232527
		display: inline-block
	pre
		white-space: pre-wrap
	blockquote
		margin: rem(25px 0)
		position: relative
		padding-left: 21px
		p
			font-size: 26px
			line-height: 34px
			font-weight: 500
			&:nth-last-child(1)
				font-size: 16px
				font-weight: 300
		+max-screen($breakpoint-md)

		&:before
			content: ''
			position: absolute
			top: 0
			left: 0px
			width: 11px
			height: 11px
			background-image: url(../assets/icons/quote.svg)
			background-repeat: no-repeat
			background-size: contain
			background-position: center
			z-index: -1
