html, body
  -webkit-overflow-scrolling: touch

body
	position: relative
	font-family: $font-family-base
	+adaptive-value("font-size", 21, 16, 0)
	font-style: normal
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-backface-visibility: hidden
	-webkit-tap-highlight-color: transparent
	font-weight: 500

h1,
.h1
	font-size: 80px
	+adaptive-value("font-size", 80, 20, 0)
	line-height: 1.2
	font-weight: 500
	+max-screen($breakpoint-md)
		+adaptive-value("font-size", 40, 40, 0)

h2,.h2
	font-size: 60px
	+adaptive-value("font-size", 60, 20, 0)
	line-height: 1.16
	font-weight: 500
	+max-screen($breakpoint-md)
		+adaptive-value("font-size", 30, 30, 0)

h3,.h3
	font-size: 49px
	+adaptive-value("font-size", 49, 17, 0)
	line-height: 1.2
	font-weight: 500
	+max-screen($breakpoint-md)
		+adaptive-value("font-size", 27, 27, 0)

h4,.h4
	font-size: 42px
	+adaptive-value("font-size", 42, 14, 0)
	line-height: 1.2
	font-weight: 500
	+max-screen($breakpoint-md)
		+adaptive-value("font-size", 24, 24, 0)

h5,.h5
	font-size: 32px
	+adaptive-value("font-size", 32, 10, 0)
	line-height: 1.2 // I am not 100% sure
	font-weight: 500
	+max-screen($breakpoint-md)
		+adaptive-value("font-size", 20, 20, 0)

h6,.h6
	font-size: 24px
	+adaptive-value("font-size", 24, 14, 0)
	line-height: 1.5
	font-weight: 500
	+max-screen($breakpoint-md)
		+adaptive-value("font-size", 18, 18, 0)

.text
	&--uppercase
		text-transform: uppercase
	&--capitalize
		text-transform: capitalize
	&--lowercase
		text-transform: lowercase
	&--left
		text-align: left
	&--right
		text-align: right
	&--center
		text-align: center
	&--underline
		text-decoration: underline

	&--size--13,&--size--13 *
		font-size: 13px
		+adaptive-value("font-size", 13, 13, 0)
	&--size--15,&--size--15 *
		font-size: 15px
		+adaptive-value("font-size", 15, 13, 0)

	&--size--17,&--size--17 *
		font-size: 17px
		+adaptive-value("font-size", 17, 15, 0)

	&--size--18,&--size--18 *
		font-size: 18px
		+adaptive-value("font-size", 18, 14, 0)

	&--size--19,&--size--19 *
		font-size: 19px
		+adaptive-value("font-size", 19, 16, 0)
	&--size--21,&--size--21 *
		font-size: 21px
		+adaptive-value("font-size", 21, 15, 0)
	&--size--22,&--size--22 *
		font-size: 22px
		+adaptive-value("font-size", 22, 18, 0)

	&--size--24,&--size--24 *
		font-size: 24px
		+adaptive-value("font-size", 24, 20, 0)
	&--size--26,&--size--26 *
		font-size: 26px
		+adaptive-value("font-size", 26, 22, 0)
	&--size--27,&--size--27 *
		font-size: 27px
		+adaptive-value("font-size", 27, 23, 0)
	&--size--32,&--size--32 *
		font-size: 32px
		+adaptive-value("font-size", 32, 20, 0)
	&--size--42,&--size--42 *
		font-size: 42px
		+adaptive-value("font-size", 42, 28, 0)
	&--size--50,&--size--50 *
		font-size: 50px
		+adaptive-value("font-size", 50, 28, 0)
	&--size--70,&--size--70 *
		font-size: 70px
		+adaptive-value("font-size", 70, 8, 0)
		+max-screen($breakpoint-lg)
			+adaptive-value("font-size", 60, 50, 0)
	&--size--100,&--size--100 *
		font-size: 100px
		+adaptive-value("font-size", 100, 40, 0)
		span
			+adaptive-value("font-size", 58, 20, 0)
		+max-screen($breakpoint-sm)
			+adaptive-value("font-size", 60, 50, 0)
	&--size--113,&--size--113 *
		font-size: 113px
		line-height: 1.1
		+adaptive-value("font-size", 113, 43, 1)
		+max-screen(1700px)
			+adaptive-value("font-size", 83, 23, 1)
		+max-screen($breakpoint-sm)
			+adaptive-value("font-size", 38, 38, 1)
	&--size--190,&--size--190 *
		font-size: 190px
		+adaptive-value("font-size", 190, 43, 0)
.font

	&--italic
		font-style: italic
	&--normal,
	&--normal *
		font-style: normal
	&--weight
		&--thin,&--100
			font-weight: 100
		&--light, &--300
			font-weight: 300
		&--regular, &--400
			font-weight: 400
		&--500
			font-weight: 500
		&--medium, &--600
			font-weight: 600
		&--700
			font-weight: 700
		&--bold, &--800
			font-weight: 800
		&--black, &--900
			font-weight: 900
	&--style
		&--second
			font-family: $font-family-second
.content-block

	h1
		font-size: 49px
		line-height: 1.2
		font-weight: 500
	h2
		font-size: 32px
		line-height: 1.2
		font-weight: 500
	h3
		font-size: 24px
		line-height: 1.5
		font-weight: 500
	h4
		font-size: 22px
		line-height: 1.5
		font-weight: 500
	h5
		font-size: 18px
		line-height: 1.5
		font-weight: 500
	h6
		font-size: 16px
		line-height: 1.5
		font-weight: 500

	p
		margin-bottom: 40px
		+max-screen($breakpoint-xm)
			margin-bottom: 20px
		&:nth-child(1)
			padding-top: 0

		&:nth-last-child(1)
			padding-bottom: 0
			margin-bottom: 0

	h2,h3,h4,h5,h6
		margin-top: 20px
		margin-bottom: 40px
		.single-post &
			color: $color-black
		+max-screen($breakpoint-xm)
			margin-top: 20px
			margin-bottom: 20px
		&:first-of-type
			margin-top: 0

	a

		transition: 0.3s
		color: $color-primary
		font-weight: 500
		text-decoration: underline
		&:hover
			opacity: 0.8

	ul
		margin: rem(40px 0)
		margin-left: rem(20px)
		+max-screen($breakpoint-xm)
			margin: rem(20px 0)
		li
			display: block
			position: relative
			margin-bottom: 8px
			line-height: 1.4
			padding-left: 14px

			&:nth-last-child(1)
				margin-bottom: 0
			&:before
				position: absolute
				content: ''
				background-color: $color-gray-1
				width: 5px
				height: 5px
				min-width: 5px
				border-radius: 50%
				margin-bottom: 0.12em
				display: inline-block
				left: 0
				+adaptive-value("top", 14, 12, 0)
			ol
				margin: rem(10px 0)
			ul
				margin: rem(10px 0)
				margin-left: rem(25px)
	ol
		list-style: disc
		// counter-reset: my-counter
		margin: rem(40px 0)
		+max-screen($breakpoint-xm)
			margin: rem(20px 0)
		li
			// counter-increment: my-counter
			list-style-type: auto
			padding-left: 14px
			margin-left: rem(20px)
			margin-bottom: 8px

			&:nth-last-child(1)
				margin-bottom: 0
			// &:before
			// 	content: counter(my-counter) "."
			// 	color: $color-primary
			// 	margin-right: 10px
			// 	margin-top: 8px
			ol
				margin: rem(10px 0)
				margin-left: 25px
			ul
				margin: rem(10px 0)
				margin-left: rem(25px)
	img
		width: auto
		height: auto
	code
		margin: 11px 0
		line-height: $default-line-height
		padding: 2px 4px
		border: 1px solid $color-gray-1
		background-color: $color-gray-2
		color: $color-black
		display: inline-block
	pre
		white-space: pre-wrap
	blockquote
		+adaptive-value("margin-top", 40, 20, 0)
		+adaptive-value("margin-bottom", 40, 20, 0)
		position: relative
		border: 2px $color-orange-2 solid
		.testimonials__listItem
			+adaptive-value("padding", 60, 30, 0)
			+max-screen($breakpoint-xm)
				+adaptive-value("padding", 40, 20, 0)

		p
			margin-bottom: 10px
			font-style: italic
			+adaptive-value("font-size", 32, 18, 0)
			font-weight: 400
			color: $color-black
			&:last-of-type
				margin-bottom: 0
		cite
			font-style: normal
		footer
			position: absolute
			content: ''
			z-index: 2
			padding: 8px 20px
			display: flex
			flex-direction: column
			+adaptive-value-minus("bottom", -60, -40, 0)
			+adaptive-value("right", 40, 20, 0)
			margin-bottom: 10px
			+max-screen($breakpoint-lg)
				margin-bottom: 0
		+max-screen($breakpoint-md)
