.news_page
    .post
        &-filters
            +adaptive-value("column-gap", 40, 20, 0)
            &__titles
                .filter-title
                    display: none
                .title-active
                    display: block !important

            &__button
                padding-top: 10px
                padding-bottom: 10px
                padding-left: 20px
                padding-right: 10px
                border-radius: 40px
                justify-content: center
                align-items: center
                display: flex
                gap: 0 10px
                background: $color-gray-3

                &.filter-active,
                &:hover
                    background: $gradient-orange
                    color: $color-white
                .post__counter
                    display: flex
                    border-radius: 70px
                    padding: 3px 4px
                    width: 24px
                    height: 24px
                    color: $color-black

        &-item
            &__title
                margin-bottom: 40px
                +adaptive-value("margin-bottom", 40, 20, 0)
            .content-block
                margin-bottom: 40px
                +adaptive-value("margin-bottom", 40, 20, 0)
    .show-more-btn
        gap: 0 10px

    .list_logos
        position: relative
        padding: 107px
        +adaptive-value("margin-bottom", 163, 80, 0)

.sidebar
    width: 100%
    max-width: 520px
    margin-left: auto
    +max-screen($breakpoint-xl)
        margin-left: 30px
    +max-screen($breakpoint-lg)
        max-width: 600px
        margin-left: auto
        margin-right: auto
        margin-top: 60px

    form
        background: $color-gray-3
        +adaptive-value("padding", 60, 30, 0)
        h2
            +adaptive-value("margin-bottom", 40, 20, 0)
        input[type=submit]
            margin-top: 20px

    .widget_tag_cloud
        font-family: $font-family-second
        color: $color-black
        opacity: 0.70
        margin-top: 60px
        .widget-title
            display: none
        .tagcloud
            display: flex
            flex-wrap: wrap
            gap: 20px
            a
                align-self: center
                text-transform: uppercase

.tickers-block
    &__wrap
        display: flex
        flex-direction: column
        gap: 39px 0
        +max-screen($breakpoint-lg)
            gap: 20px 0
            +max-screen($breakpoint-md)
                gap: 14px 0
    &__slider
        display: flex
        &.slider-right-direction
            transform: rotate(180deg)

            .tickers-block__slider-slide
                transform: rotate(180deg)
        &:hover
            animation-play-state: paused
        &-wrap
            position: relative
            width: fit-content
            display: flex
        &-slide
            width: 230px
            height: 112px
            margin-right: 20px
            display: flex
            img
                align-self: center
