.fellow-icon-group {
    .fellow-icon-group-title {
        color: color('blue-light');
        margin-bottom: rem-calc(40);
    }

    .fellow-icon-group-item {
        display: flex;
        margin-bottom: rem-calc(30);

        .icon {
            width: rem-calc(70);
            min-width: rem-calc(70);

            img {
                width: 100%;
                max-width: rem-calc(48);
                max-height: 60px;
                object-fit: contain;
            }
        }
    }

    .fellow-icon-group-grid {
        margin-bottom: rem-calc(-30);

        @include breakpoint($medium) {
            display: flex;
            margin-left: rem-calc(-50);
            margin-right: rem-calc(-50);

            .fellow-icon-group-item {
                width: 33.3333%;
                padding: rem-calc(0 50);
            }
        }
    }
}