.careers__hero {
    padding-top: 90px;

    .column {

        @include breakpoint($medium) {
            flex: 0 0 50%;
            max-width: 50%;
        }

    }

    .content-block {
        margin-top: 60px;
    }

    .video-block {
        width: 100%;
        margin-top: 30px;

        @include breakpoint($medium) {
            padding-left: 70px;
            margin-top: 0;
        }

        iframe {}

        --plyr-control-spacing: 20px;

        .plyr__control--overlaid {
            background: linear-gradient(114deg, #FF851F 0%, #FAE331 100%);
        }
    }

}

.careers-item {
    background: $white;
    padding: rem-calc(20);
    // border: 2px solid #DDDDDD;
    // border-radius: rem-calc(15);
    width: calc(100% - #{rem-calc(30)});
    display: flex;
    flex-direction: column;
    margin-left: rem-calc(15);
    margin-right: rem-calc(15);
    margin-bottom: rem-calc(30);
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09);

    @include breakpoint($medium) {
        padding: rem-calc(40);
    }

    .title {
        @include responsive-type($h5, percent($h5, 20));
        color: color('text');
        margin-bottom: rem-calc(40);

        a {
            color: color('text');
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: #C0C0C0;
    }

    .description {
        margin-top: rem-calc(40);
        margin-bottom: rem-calc(40);

        color: #555152;
        flex-grow: 1;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rem-calc(-15);
        // gap: 0 30px;
        justify-content: space-between;

        .button {
            margin-bottom: rem-calc(15);
            width: calc(50% - 15px);

            &.outline {}

            &:not(:last-child) {
                margin-right: rem-calc(25);

            }
        }
    }

    @include breakpoint($medium) {
        width: calc(50% - #{rem-calc(30)});
    }

}

.careers-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem-calc(-30);
    margin-left: rem-calc(-15);
    margin-right: rem-calc(-15);
}

.job {
    @include responsive-type(18, 16);

    .job-title__main {
        margin-right: 0;
        max-width: none;

        @include breakpoint($medium) {
            max-width: rem-calc(695);
            margin-right: rem-calc(20);
            margin-bottom: 0;
        }
    }

    .job-description {
        max-width: 100%;
        margin-bottom: 0;
        margin-top: rem-calc(20);
        margin-right: 0;

        @include breakpoint($medium) {
            max-width: rem-calc(695);
            margin-right: rem-calc(20);
            margin-bottom: 0;
        }
    }

    .job-apply {
        margin-top: rem-calc(20);

        @include breakpoint($medium) {
            margin-top: 0;
        }

        .button {
            font-weight: 500;
            padding-left: 74px;
            padding-right: 74px;
        }
    }

    .job-header {
        // padding-bottom: rem-calc(60);
        // border-bottom: 1px solid #ddd;
    }

    .job-body {
        padding: rem-calc(60 0);

        .title {
            // color: #7BB4C7;
            @include typo('h3');
            padding-bottom: rem-calc(40);
            margin-bottom: rem-calc(40);
            border-bottom: 1px solid #C0C0C0;
        }

        @include breakpoint($medium) {
            display: flex;
            margin-left: rem-calc(-40);
            margin-right: rem-calc(-40);

            .job-col {
                width: 50%;
                padding: rem-calc(0 40);
            }
        }
    }

    .job-footer {
        padding-top: rem-calc(60);
        border-top: 1px solid #ddd;
        margin-bottom: rem-calc(150);
    }

    .job-col {
        +.job-col {
            margin-top: rem-calc(60);

            @include breakpoint($medium) {
                margin-top: 0;
            }
        }

        section {
            color: #555152;

            +section {
                margin-top: rem-calc(60);

                @include breakpoint($medium) {
                    margin-top: rem-calc(120);
                }
            }


            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    position: relative;
                    padding-left: rem-calc(20);
                    margin-bottom: rem-calc(24);

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: rem-calc(10);
                        background: #555152;
                        width: rem-calc(6);
                        height: rem-calc(6);
                        border-radius: rem-calc(10);

                        @include breakpoint(1920) {
                            top: rem-calc(10);
                        }
                    }
                }

                ul {
                    margin-left: rem-calc(10);

                    li {
                        margin-bottom: rem-calc(15);

                        &:before {
                            background: #7BB4C7;
                        }
                    }
                }

                h3 {
                    font-size: rem-calc(18);
                    color: color('text');
                    margin-top: rem-calc(40);
                    margin-bottom: rem-calc(20);
                }
            }


        }
    }
}

.back_block {
    margin-top: rem-calc(80);
    margin-bottom: rem-calc(80);
}

/** APPLICATION FORM STYLING **/

.application-form .contact-info,
.application-form .position-info {
    padding: 30px;
    background: color('smoke');
    margin-bottom: 30px;
}

.application-form .label {
    font-weight: bold;
    margin-bottom: 15px;
}

.application-form .form-fields {
    margin-bottom: 20px;
}

.field-name {
    font-weight: 500;
    margin-bottom: 5px;
}

.application-link {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.application-link a {
    background: #0095b4;
    padding: 10px 25px;
    width: auto;
    border-radius: 4px;
    border: 1px solid #0095b4;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: inline-block;
}

.application-link a:hover {
    background: #f36c2a;
    border: 1px solid #f36c2a;
    cursor: pointer;
}

.application-form [type="radio"],
.application-form [type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

.form-fields.refers p {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.application-form h3 {
    text-align: center;
}

.application-form input[type="text"],
.application-form input[type="tel"],
.application-form input[type="email"],
.application-form select {
    display: block;
    width: 100%;
    height: 30px;
    border: 1px solid darkgrey;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.application-form select[multiple] {
    height: auto;
}

.job-title {
    text-align: center;
    font-weight: bold;
}

.application-form .form-submit {
    text-align: center;
    margin-top: 20px;
}

.application-form .form-inline-field {
    display: inline-block;
    vertical-align: top;
}

.application-form .form-inline-field br {
    display: none;
}


.application-form .form-inline-field .wpcf7-text {
    max-width: 100px;
    border: 0;
    border: 1px solid darkgrey;
    height: auto;
    margin-left: 20px;
    width: 100%;
    height: 28px;
    margin-top: 10px;
    max-width: 110px;
}

.application-form .reffers p {
    display: inline-block;
}

.application-form .refers .wpcf7-form-control-wrap {
    display: inline-block;
}

.position-info {
    .wpcf7-submit {
        display: inline-block;
        width: auto;
    }
}


.application-form .form-cell {
    margin-bottom: rem-calc(20);
}

.application-form .form-row {
    margin-bottom: 0;
}

@media(min-width: 769px) {
    .application-form .form-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 0;
    }


    .application-form .middle {
        width: 50%;
    }
}