.leadership-name {
    text-transform: uppercase;
    @include typo('h6');
    margin-bottom: rem-calc(5);
    color: color('grey-dark');
}

.leadership-position {
    font-weight: 600;
    color: #ACACAC;
    font-size: rem-calc(16);
}



.leadership-socials {
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    position: relative;
    z-index: 20;

    a {
        display: flex;
        align-items: center;
        width: rem-calc(20);

        &:not(:last-child) {
            margin-right: rem-calc(24);
        }

        img {
            width: 100%;
        }
    }
}

.leaderhip-header {
    display: flex;
    justify-content: space-between;
}

.cover-link {
    @include overlay();
    z-index: 1;

}

.leadership-item {
    background: $white;
    border: 2px solid #DDDDDD;
    border-radius: rem-calc(10);
    overflow: hidden;
    position: relative;
    transition: box-shadow $tr;

    &:hover {
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }
}

.leadership-about {
    margin-right: rem-calc(40);
}

.leadership-content {
    padding: rem-calc(40);
}


.leadership-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem-calc(-60);
    margin-left: rem-calc(-15);
    margin-right: rem-calc(-15);

    .leadership-item {
        width: calc(100% - #{rem-calc(30)});
        margin: rem-calc(0 15);
        margin-bottom: rem-calc(60);
    }

    @include breakpoint($medium){
        .leadership-item {
            width: calc(50% - #{rem-calc(30)});
        }
    }

    @include breakpoint($large){
        .leadership-item {
            width: calc(33.3333% - #{rem-calc(30)});
        }
    }

    &.boards {
        .leadership-content{
            padding: rem-calc(26 40);
        }
      
    }
}

.leadership-image {

    overflow: hidden;

    @include breakpoint($medium){
        height: rem-calc(290);
    }

    img {
        display: block;
        width: 100%
    }
}

.hero-unit {

    @media(max-width: 500px) {
        background-position: -195px 0 !important;
    }

    .leadership-name {
      @include typo('h5');
    }

    .leadership-position {
        font-size: rem-calc(20);
    }

    .leaderhip-header {
        margin-bottom: rem-calc(40);
        justify-content: flex-start;
    }


    .leadership-socials {
        position: relative;
        z-index: 20;
        a {
            width: rem-calc(24);
        }
    }
}



.mfp-content {
    background: $white;
    border: 2px solid #B7BDC9;
    border-radius: rem-calc(10);
    max-width: rem-calc(1345);
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .inner {
        padding: rem-calc(70 20);
        max-width: rem-calc(1130);
        margin-left: auto;
        margin-right: auto;
    }
}

.mfp-bg {
    z-index: 9999;
    background: #505050;
    opacity: 0.5;
}

.mfp-wrap {
    z-index: 99999;
}

.leadership-popup {
    .leadership-popup-image {
        margin-bottom: rem-calc(44);
    }
    
    .leaderhip-header {
        margin-bottom: rem-calc(40);
    }

    @include breakpoint($medium){
        display: flex;

        .leadership-popup-left {
            width: 50%;
            max-width: rem-calc(516);
            margin-right: rem-calc(64);
        }

        .leadership-popup-right {
            width: 50%;
        } 
    }
}


.mfp-close {
    position: absolute;
    font-size: 0;
    width: rem-calc(10);
    height: rem-calc(10);
    background: url(images/close.svg) no-repeat;
    background-size: contain;
    top: rem-calc(30);
    right: rem-calc(30);
}

.mfp-close-btn-in .mfp-close {
    top: rem-calc(30);
}