.button,
.es_submit_button,
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order,
.product .add_to_cart_button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // background: color('primary');
  // border-radius: rem-calc(10);
  background: linear-gradient(114deg, #FF851F 0%, #FAE331 100%);
  border-radius: none;

  color: color('white');
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border: 0;
  transition: color $tr, background $tr, border-color $tr;
  padding: rem-calc(10 30);

  min-height: rem-calc(50);
  font-size: rem-calc(16);
  font-weight: 500;
  line-height: 1;
  text-decoration: none;

  @include breakpoint($xlarge) {
    min-height: rem-calc(60);
    font-size: rem-calc(21);
    min-width: rem-calc(200);
  }

  &:hover {
    color: color('white');
    background: scale-color(color('primary'), $lightness: -15%);
    text-decoration: none;
  }

  &:focus,
  &:active {
    outline: 0;
    color: color('white');
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
  }

  &.white {
    background: $white;
    color: color('primary');

    &:hover {
      color: color('primary');
      background: $white;
    }
  }

  &.arrow-down {
    &:after {
      content: '';
      display: block;
      min-width: rem-calc(9);
      width: rem-calc(9);
      height: rem-calc(14);
      background-image: svg-uri('<svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 12.5L6 17M6 17L1.5 12.5M6 17L6 1" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: rem-calc(30);
      transition: transform $tr;
    }

    &.white {
      &:after {
        background-image: svg-uri('<svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 12.5L6 17M6 17L1.5 12.5M6 17L6 1" stroke="#{color('primary')}" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
    }

    &:hover {
      &:after {
        transform: translateY(5px);
      }
    }
  }


  &.arrow-right {
    &:after {
      content: '';
      display: block;
      min-width: rem-calc(14);
      width: rem-calc(14);
      height: rem-calc(10);
      background-image: svg-uri('<svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 5H1M13 5L9 1M13 5L9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: rem-calc(20);
      transition: transform $tr;
    }


    &.white {
      &:after {
        background-image: svg-uri('<svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 5H1M13 5L9 1M13 5L9 9" stroke="#{color('primary')}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
    }

    &:hover {
      &:after {
        transform: translateX(5px);
      }
    }
  }


  &.simple {
    background: none;
    padding: 0;
    margin: 0;
    min-height: initial;
    font-size: rem-calc(16);
    color: color('primary');
    width: auto;
    text-align: left;
    min-width: initial;

    &.large {
      @include breakpoint(1920) {
        font-size: rem-calc(20);
      }
    }

    &.arrow-right {
      &:after {
        background-image: svg-uri('<svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 5H1M13 5L9 1M13 5L9 9" stroke="#{color('primary')}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        margin-left: rem-calc(7);
      }
    }

    &.arrow-down {
      &:after {
        background-image: svg-uri('<svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 12.5L6 17M6 17L1.5 12.5M6 17L6 1" stroke="#{color('primary')}" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        margin-left: rem-calc(7);
      }
    }

    .bg-dark & {
      color: color('inverse');

      &.arrow-right {
        &:after {
          background-image: svg-uri('<svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 5H1M13 5L9 1M13 5L9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
      }

      &.arrow-down {
        &:after {
          background-image: svg-uri('<svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 12.5L6 17M6 17L1.5 12.5M6 17L6 1" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
      }

    }
  }


  &.toggle {
    &:after {
      content: '';
      display: block;
      background-image: url(images/Line.svg);
      width: rem-calc(13);
      height: rem-calc(7);
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: rem-calc(15);
    }
  }


  &.outlined {
    background: none;
    border: 1px solid color('primary');
    color: color('primary');

    &:hover {
      background: color('primary');
      color: color('white');
    }
  }

  &.load-more {
    &:after {
      background-image: svg-uri('<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.07227 16.9999C7.2814 20.8263 12.1741 22.1373 16.0005 19.9281C19.8268 17.719 21.1378 12.8263 18.9287 8.99991C16.7195 5.17357 11.8268 3.86257 8.00047 6.07171L5.40239 7.57171M5.40239 7.57171L6.50047 3.47363M5.40239 7.57171L9.50047 8.66979" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: rem-calc(24);
      height: rem-calc(24);
    }

    &:hover {
      &:after {
        transform: translateX(0);
      }
    }
  }

}