.site-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
   background: color('smoke');
    z-index: 9998;
}

.site-header__contacts {
    font-weight: 600;
    font-size: rem-calc(14);
   

    @include breakpoint($medium) {
        margin-bottom: 0;
        margin-right: rem-calc(50);  
        font-size: rem-calc(16);
        margin-bottom: rem-calc(15);
    }

    @include breakpoint(1920) {
        margin-right: rem-calc(100);  
    }


}

.site-header__contacts-tel {
    color: color('primary');
    font-size: rem-calc(18);
    vertical-align: bottom;
    display: inline-block;
    vertical-align: baseline;
    margin-left: rem-calc(10);

    @include breakpoint($xlarge) {
        font-size: rem-calc(24);
    }
}

.site-header__topbar {
    background: color('white');
    padding: rem-calc(15 0);
}

.site-branding {
    margin-right: rem-calc(20);
    @include breakpointDown($small){
        min-width: rem-calc(150);
    }
   
}


.site-header__info {
    .button {
        white-space: nowrap;
    }

    @include breakpointDown($medium) {
        .button {
           display: none;
        }
    }
}

.mega-toggle-blocks-left {
    .button {
        position: absolute;
        min-height: initial;
        height: 100%;
        border-radius: 0;
        width: 50%;
    }
}

.mega-toggle-block {
    &:before {
        content: 'MENU';
        color: $white;
        margin-right: rem-calc(20);
    }
}

#mega-menu-wrap-menu-1 .mega-menu-toggle {
    position: relative;
}