.pre-footer {
    position: relative;
    z-index: 1;
    margin-top: rem-calc(80);
    background: color('orange');
    overflow: hidden;

    .inner {
        padding: rem-calc(22 0 30);
        height: 100%;

        @include breakpointDown($xlarge) {
            padding: rem-calc(10 0 20);
        }

        @include breakpointDown($medium) {
            display: flex;
            flex-direction: column;
        }
    }

    &__logo {
        img {
            width: rem-calc(227);
            margin-left: auto;
            margin-right: auto;

            @include breakpointDown($xlarge) {
                width: rem-calc(187);
            }
        }
    }

    &__title {
        margin-right: rem-calc(598);
        position: relative;
        z-index: 2;

        @include breakpointDown($xlarge) {
            margin-right: auto;
            margin-left: rem-calc(100);
        }

        @include breakpointDown($large) {
            margin-left: rem-calc(10);
        }

        @include breakpointDown($medium) {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

    }

    &__contacts {
        display: flex;
        position: absolute;
        top: 0;
        right: rem-calc(-40);
        background: linear-gradient(114deg, #FF851F 0%, #FAE331 100%);
        padding: rem-calc(40 80);
        height: 100%;
        gap: 0 rem-calc(80);

        @include breakpointDown($xlarge) {
            padding: rem-calc(20 40);
            gap: 0 rem-calc(60);
            right: rem-calc(-20);
        }

        @include breakpointDown($medium) {
            position: relative;
            top: auto;
            right: auto;
            background: color('orange');
        }



        &-call {
            position: relative;
            display: flex;
            gap: 0 10px;

            svg {
                align-self: center;
            }

            a {
                align-self: center;
            }

            &::before {
                position: absolute;
                content: '';
                top: 0;
                right: rem-calc(-40);
                width: 1px;
                height: 100%;
                background: color('white');

                @include breakpointDown($xlarge) {
                    right: rem-calc(-30);
                }
            }
        }

    }

    &__socials {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 0 rem-calc(40);
        margin-bottom: 0;

        @include breakpointDown($xlarge) {
            gap: 0 rem-calc(20);
        }

        li {
            align-self: center;
        }

        a {
            display: flex;
            height: 100%;
        }

        svg,
        img {
            align-self: center;

            @include breakpointDown($xlarge) {
                max-width: 28px;
            }

        }
    }
}

.site-footer {
    background: color('white');

    a {
        color: #231F20;
    }

    .site-footer__nav {
        padding-top: rem-calc(60);
        padding-bottom: rem-calc(40);

        @include breakpointDown($xlarge) {
            padding-top: rem-calc(40);
            padding-bottom: rem-calc(20);
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
            display: flex;
            justify-content: space-between;

            @include breakpointDown($medium) {
                flex-direction: column;
                justify-content: center;
            }

            li {
                padding: 0 10px;

                @include breakpointDown($medium) {
                    padding: 10px 10px;
                }

                a {
                    font-weight: 500;
                    font-size: rem-calc(21);

                    @include breakpointDown($xlarge) {
                        font-size: rem-calc(18);
                    }

                }
            }
        }

    }

    &__bottom {
        background: color('blue-light');

        &-wrap {
            display: flex;
            gap: 0 rem-calc(40);
            padding-top: rem-calc(55.5);
            padding-bottom: rem-calc(75.5);
            justify-content: space-between;

            @include breakpointDown($xlarge) {
                padding-top: rem-calc(30);
                padding-bottom: rem-calc(50);
            }

            @include breakpointDown($medium) {
                flex-wrap: wrap;
                gap: rem-calc(20 40);
                justify-content: center;
            }

            div {
                height: max-content;
                align-self: center;

                @include breakpointDown($medium) {
                    max-width: 150px;
                }
            }
        }


    }

    &__copyright {
        width: 100%;
        padding-top: rem-calc(0);
        padding-bottom: rem-calc(20);

        div {
            gap: 0 20px;

            @include breakpointDown($medium) {
                width: 100%;
                text-align: center;
            }
        }
    }
}