.post-item {
    padding-bottom: rem-calc(60);
    border-bottom: 1px solid #DDDDDD; 
    margin-bottom: rem-calc(60);

    &:first-of-type {
        padding-top: rem-calc(60);
        border-top: 1px solid #DDDDDD; 
    }
}

.post-title {
    @include typo('h5') ;
    color: #333232;
    margin-bottom: rem-calc(40);

    a {
        color: #333232;

        &:hover {
            color: color('primary');
        }
    }
}

.post-content {
    margin-bottom: rem-calc(70);
}

.post-date {
    font-size: rem-calc(16);
    color: #A1A7B3;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-header {
    margin-bottom: rem-calc(30);

    .fellow-heading {
        margin-right: rem-calc(15);
        margin-bottom: rem-calc(20);
    }

    .socials {
        justify-content: flex-start;
    }

    @include breakpoint($large){
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fellow-heading {
            margin-bottom: 0;
        }
       
    }

}

.widget-title {
    @include typo('h5');
    margin-bottom: rem-calc(30);
    color: color('text');
}

.widget_email-subscribers-form {
    background: $white;
    border: 2px solid #DDDDDD;
    padding: rem-calc(65 40);
    border-radius: rem-calc(10);
    overflow: hidden;

    .es-field-wrap {
    

        input {
            width: 100%;
            display: block;
            padding: rem-calc(18 20);
            border: 1px solid #DDDDDD;
            border-radius: rem-calc(10);
            font-size: rem-calc(16);
           height: rem-calc(60);
        }
    }

    .es_submit_button {
        @include typo('h5');
        padding-top: 5px;
        padding-bottom: 5px;
        height: rem-calc(60);
    }

    @include breakpoint($xlarge){
        form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .es-field-wrap {
            padding-right: rem-calc(30) ;
            width: 57%;
        }

        .es_submit_button {
            width: 42%;
        }

     
    }

}



.sidebar {
    margin-top: rem-calc(60);

    @include breakpoint($large){
        margin-top: 0;
    }
    section + section {
        margin-top: rem-calc(30);
    }

    .no-title .widget-title {
        display: none;
    }

    .widget_archive {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-right: rem-calc(-10);

            li {
                margin-right: rem-calc(10);
                margin-bottom: rem-calc(20);
                display: inline-block;
            }
    
            a {
                display: block;
                border: 2px solid #DDDDDD;
                border-radius: rem-calc(10);
                padding: rem-calc(13 27);
                white-space: nowrap;
                font-weight: 900;
                text-transform: uppercase;
                font-size: rem-calc(16) ;
                color: #A1A7B2;
                background: $white;
    
                &:hover {
                    color: color('primary');
                    border-color: color('primary');
                    text-decoration: none;
                }
    
            }
        }
      
    }
  .tag-cloud {
    margin-right: rem-calc(-10);
  }
    .tag-cloud-link {
        display: inline-block;
        white-space: nowrap;
        font-weight: 900;
        text-transform: uppercase;
        margin-right: rem-calc(10);
        margin-bottom: rem-calc(20);
        transition: transform 0.6s;
        color: #A1A7B2;

        &:hover {
          transform: scale(1.05);
          text-decoration: none;
          color: color('primary');
        }
    }
}



.wp-pagenavi {
    display: flex;
    align-items: center;

    .pages {
        display: none;
    }

    a, span {
        font-size: rem-calc(16);
        font-weight: bold;
        border: 0;
        padding: 0;
        color: color('text');
        margin: rem-calc(0 12);
    }

    .previouspostslink,
    .nextpostslink {
       font-size: 0;
       width: rem-calc(7);
       height: rem-calc(12);
       display: block;
       background-size: contain;
       background-repeat: no-repeat;
    }

    .nextpostslink {
        background-image: svg-uri('<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L1 11" stroke="#A1A7B2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }

    .previouspostslink {
        background-image: svg-uri('<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 11L1 6L6 1" stroke="#A1A7B2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }

    .current {
        color: color('primary');
    }
}

.single-post-title {
    margin-bottom: rem-calc(20);
}

.single-post-date {
    font-size: rem-calc(16);
    color: #A1A7B3;
    margin-bottom: rem-calc(60);
}  


.widget_email-subscribers-form + .recent-posts-widget-with-thumbnails {
    margin-top: rem-calc(56);
}

.recent-posts-widget-with-thumbnails {
    .rpwwt-post-title {
        color: #333232;
        font-size: rem-calc(16);
        display: block;
        line-height: 21px;
        margin-bottom: rem-calc(40);

        &:hover {
            color: color('primary');
        }

    }

    li {
        display: flex;
        flex-direction: column;
        padding-bottom: rem-calc(40);
        border-bottom: 1px solid #DDDDDD;

        + li {
            margin-top: rem-calc(40);
        }
    }

    .rpwwt-post-date {
        font-size: rem-calc(14);
        color: #A1A7B3;
     
        order: 3;
    }

    .rpwwt-post-excerpt {
        font-size: rem-calc(14);
        line-height: rem-calc(21);
        margin-bottom: rem-calc(20);
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    color: #A1A7B3;
    font-size: rem-calc(16);
    flex-wrap: wrap;

    a {
        color: #A1A7B3;

        &:hover {
            color: color('primary');
        }
    }
    span + span:not(.empty) {
        &:before {
            content: '/';
            margin-left: rem-calc(5);
            margin-right: rem-calc(5);
        }
    }
}

.back-to-category {
    color: #A1A7B3;
    font-size: rem-calc(16);
}

.single-header {
    margin-bottom: rem-calc(64);


    @include breakpoint($medium){
        margin-top: rem-calc(-70);
    }
 

    .breadcrumbs {
        margin-bottom: rem-calc(15);
    }

    @include breakpoint($medium){
        display: flex;
        justify-content: space-between;

        .breadcrumbs {
            margin-right: rem-calc(15);
            margin-bottom: 0;
        }
    }

    @include breakpoint(1600){
        max-width: rem-calc(935);

        &.full {
            max-width: 100%;
        }
    }


}