.fellow-instructor {
    background: $white;
    border: 2px solid #B7BDC9;
    border-radius: rem-calc(10);
    overflow: hidden;

    .text {
        padding: rem-calc(40 30);
        display: flex;
        justify-content: space-between;

        .header {
            margin-right: rem-calc(20);
        }

        h4 {
            text-transform: uppercase;
            @include typo('h6');
            margin-bottom: rem-calc(10);
        }

        .description {
            font-weight: 600;
            font-size: rem-calc(16);
            color: #ACACAC;
        }

    }

    .image{
        border-radius: rem-calc(8);

        img {
            display: block;
            width: 100%;
        }
    }
}