html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: color('smoke');
    color: color('text');
    font-family: fontFamily('body');
    font-weight: normal;
    font-size: rem-calc(16);
    line-height: 1.5;

    @include breakpoint(1600) {
        font-size: rem-calc(20);
    }
}

img {
    display: inline-block;
    vertical-align: middle;
    border: 0;
     max-width: 100%;
     height: auto;
     -ms-interpolation-mode: bicubic;
}

a {
    color: color('primary');
    text-decoration: none;
    transition: color $tr;

    &:hover,
    &:focus,
    &:active {
        color: color('primary');
        text-decoration: underline;
    }
}

p {
    margin: rem-calc(0 0 $p-margin);
    padding: 0;

    +ol,
    +ul,
    +h1,
    +h2,
    +h3,
    +h4,
    +h5,
    +h6,
    +div {
        margin-top: rem-calc($p-margin);
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

ul,ol {
    + ol,
    + ul,
    + h1,
    + h2, 
    + h3,
    + h4,
    + h5,
    + h6,
    + p,
    + div {
        margin-top: rem-calc(40);
    }
}

small {
    font-size: 80%;
}
  
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  margin: 0; 
}

button {
    border: 0;
    background: none;
    padding: 0;
}

[type="search"] {
    -webkit-appearance: textfield; 
    outline-offset: -2px; 

    &::-webkit-search-decoration {
        -webkit-appearance: none;
    }
}

::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit;
}

.curved-image {
    clip-path: url(#waveImageBottom);
    display: inline-block;
}

.wpb_text_column{
    h1,h2,h3,h4,h5,h6 {
        margin-bottom: rem-calc(20);
    }

    h3 {
        @include typo('h4');
        color: color('blue-light');
        margin-bottom: rem-calc(20);
    }

    h4 {
        @include typo('h5');
    }

    h5 {
        @include typo('h6');
    }
   
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            padding-left: rem-calc(20);
            margin-bottom: rem-calc(24) !important;
      
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: rem-calc(6);
                background: color('primary');
                width: rem-calc(10);
                height: rem-calc(10);
                border-radius: rem-calc(10);

                @include breakpoint($large) {
                    top: rem-calc(10);
                }
            }
        }

        ul {
            margin-top: rem-calc(20);
            li:before {
                background: #7BB4C7;
            }
        }

    }


    p, ul,ol,blockquote, div {
        + * {
            margin-top: rem-calc($p-margin);
        }
    }
}

ul,ol + p {
    margin-top: 0;
}

ul.products {
    li {
        padding-left: 0 !important;

        &:before {
            display: none !important;
        }
    }
  
}

.cn-button.bootstrap {
    
    background: color('primary') !important;
}