.circle_blocks
    &__top
        .primary-line
            border-left: 5px $color-primary solid
            padding-left: 40px
            margin-left: 5px
        .arrows_text
            span
                display: inline-block
                position: relative
                width: 47px
                height: 47px
                vertical-align: sub
                +adaptive-value("width", 47, 20, 0)
                +adaptive-value("height", 47, 20, 0)
                &::before
                    position: absolute
                    content: ''
                    top: 0
                    left: 0
                    width: 47px
                    height: 47px
                    +adaptive-value("width", 47, 20, 0)
                    +adaptive-value("height", 47, 20, 0)
                    background-image: url('../assets/icons/arrows/arrow_top.svg')
                    background-position: center
                    background-size: contain
                    background-repeat: no-repeat
                &.down
                    &::before
                        background-image: url('../assets/icons/arrows/arrow_bottom.svg')
    &__center
        position: relative
    .scroll
        +max-screen($breakpoint-xs)
            overflow-x: auto
            overflow-y: hidden
    &__list
        display: flex
        +adaptive-value("margin-top", 117, 60, 0)
        margin-bottom: 412px
        +max-screen($breakpoint-xs)
            width: max-content
            margin-bottom: 412px

        & > *
            .circle_blocks__inner
                &:hover
                    &::after
                        transform: rotate(90deg)
                    &::before
                        opacity: 0
                        height: calc(50% + 10px)
                        width: calc(100% + 10px)
                    .dotted
                        transform: rotate(90deg)
                        &::after
                            border: 3px solid
                    .number
                        border: 1px solid $color-white
                    .title
                        color: $color-white
                    .bg
                        &_color
                            opacity: 1
                        img
                            opacity: 0
                    .circle_blocks__content
                        opacity: 1
                        visibility: visible
                        z-index: 2
                &.active
                    &::after
                        transform: rotate(90deg)
                    &::before
                        opacity: 0
                        height: calc(50% + 10px)
                        width: calc(100% + 10px)
                    .dotted
                        transform: rotate(90deg)
                        &::after
                            border: 3px solid
                    .number
                        border: 1px solid $color-white
                    .title
                        color: $color-white
                    .bg
                        &_color
                            opacity: 1
                        img
                            opacity: 0
                    .circle_blocks__content
                        opacity: 1
                        visibility: visible
                        z-index: 2
            &:nth-child(1)
                .circle_blocks__inner
                    z-index: 7
                    &::after
                        border-color: $color-secondary
                    .dotted
                        &::before
                            border-bottom-color: $color-secondary
                        &::after
                            border-color: $color-secondary
                    .number
                        background-color: $color-secondary
                    .bg_color
                        background: $color-secondary
                    .content-block
                        border-color: $color-secondary
                        li
                            &::marker
                                color: $color-secondary

            &:nth-child(2)
                .circle_blocks__inner
                    z-index: 6
                    &::after
                        border-color: $color-secondary-medium-dark
                    .dotted
                        &::before
                            border-bottom-color: $color-secondary-medium-dark
                        &::after
                            border-color: $color-secondary-medium-dark
                    .number
                        background-color: $color-secondary-medium-dark
                    .bg_color
                        background: $color-secondary-medium-dark
                    .content-block
                        border-color: $color-secondary-medium-dark
                        left: 50%
                        transform: translateX(-40%)
                        +max-screen($breakpoint-xs)
                            left: 0
                            transform: none
                        li
                            &::marker
                                color: $color-secondary-medium-dark
            &:nth-child(3)
                .circle_blocks__inner
                    z-index: 5
                    &::after
                        border-color: $color-secondary-dark
                    .dotted
                        &::before
                            border-bottom-color: $color-secondary-dark
                        &::after
                            border-color: $color-secondary-dark
                    .number
                        background-color: $color-secondary-dark
                    .bg_color
                        background: $color-secondary-dark
                    .content-block
                        border-color: $color-secondary-dark
                        left: 50%
                        transform: translateX(-50%)
                        +max-screen($breakpoint-xs)
                            left: 0
                            transform: none
                        li
                            &::marker
                                color: $color-secondary-dark
            &:nth-child(4)
                .circle_blocks__inner
                    z-index: 4
                    &::after
                        border-color: $color-gold
                    .dotted
                        &::before
                            border-bottom-color: $color-gold
                        &::after
                            border-color: $color-gold
                    .number
                        background-color: $color-gold
                    .bg_color
                        background: $color-gold
                    .content-block
                        border-color: $color-gold
                        left: 50%
                        transform: translateX(-50%)
                        +max-screen($breakpoint-xs)
                            left: 0
                            transform: none
                        li
                            &::marker
                                color: $color-gold
            &:nth-child(5)
                .circle_blocks__inner
                    z-index: 3
                    &::after
                        border-color: $color-orange
                    .dotted
                        &::before
                            border-bottom-color: $color-orange
                        &::after
                            border-color: $color-orange
                    .number
                        background-color: $color-orange
                    .bg_color
                        background: $color-orange
                    .content-block
                        left: 50%
                        transform: translateX(-27%)
                        border-color: $color-orange
                        +max-screen($breakpoint-xs)
                            left: 0
                            transform: none
                        li
                            &::marker
                                color: $color-orange
            &:nth-child(6)
                .circle_blocks__inner
                    z-index: 2
                    &::after
                        border-color: $color-orange-2
                    .dotted
                        &::before
                            border-bottom-color: $color-orange-2
                        &::after
                            border-color: $color-orange-2
                    .number
                        background-color: $color-orange-2
                    .bg_color
                        background: $color-orange-2
                    .content-block
                        left: 50%
                        transform: translateX(-55%)
                        border-color: $color-orange-2
                        +max-screen($breakpoint-xs)
                            left: 0
                            transform: none
                        li
                            &::marker
                                color: $color-orange-2
            &:nth-child(7)
                .circle_blocks__inner
                    &::after
                        border-color: $color-orange-3
                    .dotted
                        &::before
                            border-bottom-color: $color-orange-3
                        &::after
                            border-color: $color-orange-3
                    .number
                        background-color: $color-orange-3
                    .bg_color
                        background: $color-orange-3
                    .content-block
                        left: auto
                        right: 0
                        border-color: $color-orange-3
                        +max-screen($breakpoint-xs)
                            right: auto
                            transform: none
                        li
                            &::marker
                                color: $color-orange-3
    .show
        display: none
        opacity: 0
        visibility: hidden
        &.active
            +max-screen($breakpoint-xs)
                display: block
                opacity: 1
                visibility: visible
                top: auto
                bottom: 0
                padding: 0 !important
                border-top: none !important
                z-index: 10
            +max-screen($breakpoint-md)
                width: 100%
                max-width: calc(100vw - 30px)
            +max-screen($breakpoint-sm)
                max-width: calc(100vw - 16px)
            div
                padding: 32px
                border-top: 5px solid
                +max-screen($breakpoint-sm)
                    padding: 24px 16px

            .color
                &-1
                    border-color: $color-secondary
                    li
                        &::marker
                            color: $color-secondary
                &-2
                    border-color: $color-secondary-medium-dark
                    li
                        &::marker
                            color: $color-secondary-medium-dark
                &-3
                    border-color: $color-secondary-dark
                    li
                        &::marker
                            color: $color-secondary-dark
                &-4
                    border-color: $color-gold
                    li
                        &::marker
                            color: $color-gold
                &-5
                    border-color: $color-orange
                    li
                        &::marker
                            color: $color-orange
                &-6
                    border-color: $color-orange-2
                    li
                        &::marker
                            color: $color-orange-2
                &-7
                    border-color: $color-orange-3
                    li
                        &::marker
                            color: $color-orange-3

    &__inner-main
        position: relative
    &__inner
        position: relative
        width: 193px
        height: 193px
        border-radius: 9999px
        border: 6px $color-white solid
        z-index: 1
        margin-right: 20px
        +adaptive-value("width", 193, 70, 0)
        +adaptive-value("height", 193, 70, 0)
        +adaptive-value("margin-right", 20, 0, 0)
        +max-screen($breakpoint-xm)
            +adaptive-value("margin-right", 10, 0, 0)
        +max-screen($breakpoint-xs)
            width: 183px
            height: 183px
            margin-right: 17px
        &::after
            content: ""
            position: absolute
            top: -3px
            right: -4px
            width: calc(100% + 6px)
            height: calc(100% + 6px)
            border: 8px solid
            box-sizing: border-box
            z-index: -1
            border-radius: 9999px
            +max-screen($breakpoint-xs)
                border: 13px solid
        &::before
            content: ""
            position: absolute
            top: -5px
            left: -5px
            width: calc(50% + 10px)
            height: calc(100% + 10px)
            background-color: $color-white

        .dotted
            position: absolute
            content: ''
            top: 0
            left: 0
            width: 100%
            height: 100%
            transition: all $default-transition
            z-index: 0
            &::before
                position: absolute
                content: ''
                top: calc( 50% - 20px )
                right: -32px
                width: 40px
                height: 32px
                border-left: 20px solid transparent
                border-right: 20px solid transparent
                border-bottom: 32px solid
                clip-path: polygon(50% 0, 0 100%, 100% 100%)
                transform: rotate(90deg)
                +max-screen($breakpoint-xm)
                    top: calc(50% - 10px)
                    right: -24px
                    width: 20px
                    height: 18px
                    border-left: 18px solid transparent
                    border-right: 18px solid transparent
                    border-bottom: 20px solid
            &::after
                position: absolute
                content: ''
                top: -3px
                left: -3px
                width: 188px
                height: 188px
                +adaptive-value("width", 188, 65, 0)
                +adaptive-value("height", 188, 65, 0)
                border-radius: 9999px
                border: 3px dotted
                +max-screen($breakpoint-xs)
                    width: 179px
                    height: 179px
                    top: -4px
                    left: -4px
                    border: 2px dotted

        .bg
            position: absolute
            top: 6.5px
            left: 7px
            width: calc(100% - 12px)
            height: calc(100% - 12px)
            border-radius: 9999px
            overflow: hidden
            z-index: 0
            +max-screen($breakpoint-xs)
                top: 11.5px
                left: 12.5px
                width: calc(100% - 23px)
                height: calc(100% - 23px)
                border-radius: 50%

            &_color
                position: absolute
                content: ''
                top: 0
                left: 0
                width: 100%
                height: 100%
                opacity: 0
            img
                width: 100%
                opacity: 1
                height: 100%
        .number
            position: absolute
            top: -30px
            left: 50%
            transform: translateX(-50%)
            width: 60px
            height: 60px
            +adaptive-value-minus("top", -30, -7.5, 0)
            +adaptive-value("width", 60, 15, 0)
            +adaptive-value("height", 60, 15, 0)
            border-radius: 50%
            transition: border $default-transition
            z-index: 6
            +max-screen($breakpoint-xs)
                width: 44px
                height: 44px
                top: -22px
            span
                display: block
                width: 100%
                +max-screen($breakpoint-xm)
                    font-size: 24px
        .title
            position: relative
            max-width: 140px
            +adaptive-value("max-width", 140, 70, 0)
            margin: 0 auto
            z-index: 2
            +max-screen($breakpoint-md)
                max-width: 130px

            .h4
                +max-screen($breakpoint-xs)
                    font-size: 16px
    &__mirror-img
        position: absolute
        bottom: -100%
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        +max-screen($breakpoint-sm)
            bottom: -95%

        svg
            width: 100% !important
    &__content
        position: absolute
        top: calc( 100% + 40px )
        left: 0
        width: 750px
        height: max-content
        padding: 30px
        box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09)
        opacity: 0
        visibility: hidden
        z-index: -1
        background-color: $color-white
        border-top: 5px solid
        transition: all $default-transition
        .color_bg
            display: none
        +max-screen($breakpoint-xs)
            width: 720px
            padding: 32px

            display: none
        h2,h3,h4,h5,h6
            margin-top: 10px
            margin-bottom: 10px
            font-weight: 600

            &:first-of-type
                margin-top: 0
        p
            margin-bottom: 10px
            +adaptive-value("font-size", 18, 14, 0)
            +max-screen($breakpoint-xs)
                font-size: 18px
        a
            color: $color-black
        ul
            list-style-type: disc !important
            padding-left: 14px !important
            margin: 10px 0 0
            +adaptive-value("font-size", 18, 14, 0)
            +max-screen($breakpoint-xs)
                font-size: 18px
        li
            margin-bottom: 8px
            display: list-item !important
            list-style-type: disc !important
            padding-left: 0 !important
            &::before
                display: none !important
            &:last-of-type
                margin-bottom: 0
    &__bottom
        +adaptive-value("margin-bottom", 168, 60, 0)
        +max-screen($breakpoint-md)
            overflow-x: auto
            overflow-y: hidden
            padding-bottom: 30px
