.hero
    position: relative
    --header_header
    .desktop
        +max-screen($breakpoint-sm)
            display: none
    .mob
        display: none
        +max-screen($breakpoint-sm)
            display: block
    &__main
        position: relative
        &__text
            +max-screen($breakpoint-sm)
                display: flex
                flex-direction: column
                justify-content: space-between
                min-height: 708px
                height: calc(100vh - 72px)
                max-height: 1080px
        &__list
            .img-absolute
                // opacity: .5
            .hero-slider
                &__inner
                    // opacity: .75
                    width: 100%
                    height: 100%

                    transition: 0.9s linear
                    .animation &
                        width: 80%
                        height: 80%
                    .title_block
                        max-width: 80%
                        margin-left: auto
                        margin-right: auto
        &__slide
            position: relative
            height: 100%
            .image
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 100%)
                +max-screen($breakpoint-sm)
                    background: none
                &::after
                    +max-screen($breakpoint-sm)
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 100%)
                .animate__animated
                    height: 100%

                img
                    height: 100% !important
                    display: block
                    object-fit: cover
        .slick-list
            margin: 0
        .slick-slide
            margin: 0
            height: calc(100vh - var(--header_header) - 2px)
            +max-screen($breakpoint-sm)
                min-height: 708px
                height: calc(100vh - 72px)
            &>div
                height: 100% !important
    .slick-dotted.slick-slider
        margin-bottom: 0
    .title_block
        position: relative
        z-index: 2
        width: 100%
        +adaptive-value("padding-top", 174, 32, 0)
        +adaptive-value("padding-bottom", 327, 187, 0)
        +max-screen($breakpoint-lg)
            margin-left: 30px
        +max-screen($breakpoint-sm)
            padding-top: 32px
            padding-bottom: 0
            width: 85%
        span:first-of-type
            +adaptive-value-minus("margin-left", -45, -30, 0)
            +max-screen($breakpoint-lg)
                margin-left: -30px
            +max-screen($breakpoint-sm)
                +adaptive-value-minus("margin-left", -30, -24, 0)
        br
            +max-screen($breakpoint-sm)
                display: none
        .container
            padding-left: 0
            padding-right: 0
        .h1
            +max-screen($breakpoint-xm)
                +adaptive-value("font-size", 80, 30, 0)
            +max-screen($breakpoint-sm)
                +adaptive-value("font-size", 40, 30, 0)
    .bottom_block
        position: absolute

        z-index: 15
        left: 0
        width: 100%
        bottom: 0
        border-top: 1px $color-white solid
        +adaptive-value("padding-top", 27, 10, 0)
        +adaptive-value("padding-bottom", 26, 10, 0)
        +max-screen($breakpoint-lg)
            padding-top: 24px
            padding-bottom: 24px
        .h4
            margin-left: 10px
            +max-screen($breakpoint-lg)
                margin-left: auto
                text-align: center
            +max-screen($breakpoint-sm)
                margin-right: auto
                max-width: 55vw
            +max-screen(475px)
                max-width: 250px
    .col-lg-4
        display: flex
    .dots_block
        align-self: center
        margin-right: 0
        margin-left: auto
        +max-screen($breakpoint-lg)
            margin-right: auto
            margin-top: 24px
        &-list
            display: flex
            +adaptive-value("column-gap", 53, 34, 0)
            pointer-events: none
            &:nth-child(2)
                display: none !important
            li
                font-size: 22px
                position: relative
                +adaptive-value("font-size", 22, 18, 0)
                opacity: 0.3
                cursor: pointer
                &:first-of-type
                    &::before
                        display: none
                &::before
                    position: absolute
                    content: '•'
                    left: -125%
                    +adaptive-value("font-size", 22, 18, 0)
                    opacity: 0.3
                &.slick-active
                    opacity: 1

.slick-slide
    .hero-slider__inner
        animation-name: zoomIn
        animation-duration: 5.9s // autoplaySpeed + speed
        animation-fill-mode: both
        animation-iteration-count: infinite
    .slide-down
        //animation-name: slideDown
        animation-duration: 6.8s // autoplaySpeed + speed + speed
        animation-fill-mode: both
        animation-iteration-count: infinite
        animation-delay:
.hero__main__list
    z-index: 10
.hero__main__list--bg
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

    z-index: 8

    transform: rotate(180deg) // Make slider reverse direction
    .slick-slide
        transform: rotate(-180deg) // Make slider reverse direction
    img
        filter: blur(5px)

@keyframes zoomIn
    0%
        transform: translate(-50%, -50%) scale(0.8)
    15.25% // speed * 100 / autoplaySpeed
        transform: translate(-50%, -50%) scale(0.8)
    30.5% // speed * 100 / autoplaySpeed
        transform: translate(-50%, -50%) scale(1)
    69.5% // speed * 100 / autoplaySpeed
        transform: translate(-50%, -50%) scale(1)
    84.75% // 100 - (speed * 100 / autoplaySpeed)
        transform: translate(-50%, -50%) scale(0.8)
    100%
        transform: translate(-50%, -50%) scale(.8)

@keyframes slideDown
    0%
        transform: translateY(100%)
    15.25% // speed * 100 / autoplaySpeed
        transform: translateY(100%)
    30.5% // speed * 100 / autoplaySpeed
        transform: translateY(0%)
    69.5% // speed * 100 / autoplaySpeed
        transform: translateY(0%)
    84.75% // 100 - (speed * 100 / autoplaySpeed)
        transform: translateY(100%)
    100%
        transform: translateY(100%)
