.title_text_line
    .h4
        // +min-screen($breakpoint-lg)
        //     +max-screen(1600px)
        //         font-size: 28px
        +max-screen($breakpoint-lg)
            br
                display: none
    .h3
        +min-screen($breakpoint-lg)
            +max-screen(1600px)
                font-size: 32px
        +max-screen(1600px)
            br
                display: none

    &.two_titles
        .title_text_line
            &__top,
            &__bottom
                span
                    display: inline-block
                    position: relative
                    width: 47px
                    height: 47px
                    vertical-align: sub
                    +adaptive-value("width", 47, 20, 0)
                    +adaptive-value("height", 47, 20, 0)
                    &::before
                        position: absolute
                        content: ''
                        top: 0
                        left: 0
                        width: 40px
                        height: 40px
                        +adaptive-value("width", 47, 20, 0)
                        +adaptive-value("height", 47, 20, 0)
                        background-image: url('../assets/icons/arrows/arrow_top.svg')
                        background-position: center
                        background-size: contain
                        background-repeat: no-repeat
                    &.down
                        &::before
                            background-image: url('../assets/icons/arrows/arrow_bottom.svg')
                .row
                    +min-screen($breakpoint-xs)
                        margin-left: -40px
                        margin-right: -40px
                        // +adaptive-value("column-gap", 80, 20, 0)
                        & > div
                            padding-left: 40px
                            padding-right: 40px
