.slick-arrow {
    font-size: 0;
    padding: 0;
    margin: 0;
    outline: none;
    width: rem-calc(60);
    height: rem-calc(60);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid color('primary');
    background: none;
    transition: background $tr;
    border-radius: rem-calc(60);
    cursor: pointer;

    &:before {
        content: '';
        display: block;
        transition: background $tr;
        background-image: svg-uri('<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.375 3.8576H1.9625L4.23125 1.055C4.33734 0.923726 4.38838 0.754489 4.37314 0.584516C4.3579 0.414543 4.27764 0.257757 4.15 0.148649C4.02236 0.039541 3.85781 -0.0129513 3.69255 0.00272001C3.52728 0.0183913 3.37484 0.100942 3.26875 0.232213L0.14375 4.08901C0.122725 4.11969 0.103925 4.15191 0.0874999 4.18543C0.0874999 4.21757 0.0875001 4.23685 0.0437501 4.26899C0.015421 4.3427 0.000588201 4.42115 0 4.5004C0.000588201 4.57965 0.015421 4.65811 0.0437501 4.73181C0.0437501 4.76395 0.0437499 4.78323 0.0874999 4.81537C0.103925 4.84889 0.122725 4.88112 0.14375 4.91179L3.26875 8.76859C3.32751 8.84115 3.4011 8.89951 3.48428 8.9395C3.56746 8.9795 3.65818 9.00015 3.75 9C3.89603 9.00029 4.03756 8.94798 4.15 8.85215C4.21329 8.79819 4.2656 8.73192 4.30395 8.65713C4.34229 8.58234 4.36591 8.50051 4.37346 8.41632C4.38101 8.33213 4.37233 8.24723 4.34793 8.16649C4.32353 8.08576 4.28388 8.01076 4.23125 7.94581L1.9625 5.1432H9.375C9.54076 5.1432 9.69973 5.07548 9.81694 4.95493C9.93415 4.83438 10 4.67088 10 4.5004C10 4.32992 9.93415 4.16642 9.81694 4.04587C9.69973 3.92533 9.54076 3.8576 9.375 3.8576Z" fill="#{color('primary')}"/></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        width: rem-calc(20);
        height: rem-calc(20);
    }

    &:hover {
        background: color('primary');

        &:before {
            background-image: svg-uri('<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.375 3.8576H1.9625L4.23125 1.055C4.33734 0.923726 4.38838 0.754489 4.37314 0.584516C4.3579 0.414543 4.27764 0.257757 4.15 0.148649C4.02236 0.039541 3.85781 -0.0129513 3.69255 0.00272001C3.52728 0.0183913 3.37484 0.100942 3.26875 0.232213L0.14375 4.08901C0.122725 4.11969 0.103925 4.15191 0.0874999 4.18543C0.0874999 4.21757 0.0875001 4.23685 0.0437501 4.26899C0.015421 4.3427 0.000588201 4.42115 0 4.5004C0.000588201 4.57965 0.015421 4.65811 0.0437501 4.73181C0.0437501 4.76395 0.0437499 4.78323 0.0874999 4.81537C0.103925 4.84889 0.122725 4.88112 0.14375 4.91179L3.26875 8.76859C3.32751 8.84115 3.4011 8.89951 3.48428 8.9395C3.56746 8.9795 3.65818 9.00015 3.75 9C3.89603 9.00029 4.03756 8.94798 4.15 8.85215C4.21329 8.79819 4.2656 8.73192 4.30395 8.65713C4.34229 8.58234 4.36591 8.50051 4.37346 8.41632C4.38101 8.33213 4.37233 8.24723 4.34793 8.16649C4.32353 8.08576 4.28388 8.01076 4.23125 7.94581L1.9625 5.1432H9.375C9.54076 5.1432 9.69973 5.07548 9.81694 4.95493C9.93415 4.83438 10 4.67088 10 4.5004C10 4.32992 9.93415 4.16642 9.81694 4.04587C9.69973 3.92533 9.54076 3.8576 9.375 3.8576Z" fill="#{color('white')}"/></svg>');
        }
    }

    &.slick-next {
        &:before {
            transform: rotate(180deg);
        }
    }
}

.slick-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        margin: rem-calc(8);
        padding-left: 0 !important;
        
        &:before {
            display: none !important;
        }

        button {
            display: block;
            padding: 0;
            margin: 0;
            width: rem-calc(15);
            min-width: rem-calc(15);
            height: rem-calc(15);
            background: #D6D6D6;
            transition: min-width $tr;
            border-radius: rem-calc(15);
            font-size: 0;
            outline: none;
            cursor: pointer;
        }

        &.slick-active {
            button {
                min-width: rem-calc(45);
                background: color('primary');
            }
        }
    }
}

.carousel-buttons {
    margin-top: rem-calc(60);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dots {
        margin-right: rem-calc(20);
    }
    
    .arrows {
        display: flex;
        align-items: center;

        .slick-arrow + .slick-arrow {
            margin-left: rem-calc(20);
        }
    }
}