.container {
    width: 100%;
    max-width: rem-calc(theme('layout', 'width') + theme('layout', 'padding') * 2);
    padding: rem-calc(0 theme('layout', 'padding'));
    margin-left: auto;
    margin-right: auto;

    &.condensed {
        max-width: rem-calc(1140 + theme('layout', 'padding') * 2);
    }
}

.site {
    max-width: rem-calc(1920);
    margin-left: auto;
    margin-right: auto;
    overflow: visible !important;
}


.section-paddings:not(.vc_row) {
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(60);
 
    @include breakpoint($medium) {
        padding-top: rem-calc(120);
        padding-bottom: rem-calc(120);
    }
}

body:not(.no-hero-unit) .section-paddings:not(.vc_row):first-of-type {
    margin-top: rem-calc(80);
}

body.single .section-paddings:not(.vc_row):first-of-type ,
body.blog .section-paddings:not(.vc_row):first-of-type {
    margin-top: 0;
}

.section-margins-small {
    margin-top: rem-calc(60);
    margin-bottom: rem-calc(60);
 
    @include breakpoint($medium) {
        margin-top: rem-calc(90);
        margin-bottom: rem-calc(90);
    }
}


.section-paddings-small {
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(60);
 
    @include breakpoint($medium) {
        padding-top: rem-calc(90);
        padding-bottom: rem-calc(90);
    }

    &.wave-top {
        padding-top: rem-calc(60 + 30);

        @include breakpoint($medium) {
            padding-top: rem-calc(90 + 30);
        }
    }

    &.wave-bottom {
        padding-bottom: rem-calc(60 + 30);

        @include breakpoint($medium) {
            padding-bottom: rem-calc(90 + 30);
        }
    }
}


.entry-content > .vc_row {
    &:not(.wave-top):not(.wave-bottom):not(.vc_row-has-fill) {
        margin-top: rem-calc(80);
        margin-bottom: rem-calc(80);
     
        @include breakpoint($medium) {
            margin-top: rem-calc(120);
            margin-bottom: rem-calc(120);
        }
    }

    &.vc_row-has-fill {
        padding-top: rem-calc(80);
        padding-bottom: rem-calc(80);
     
        @include breakpoint($medium) {
            padding-top: rem-calc(120);
            padding-bottom: rem-calc(120);
        }
    }

    &.wave-top {
        padding-top: rem-calc(80 + 30);
        padding-bottom: rem-calc(80);

        @include breakpoint($medium) {
            padding-top: rem-calc(120 + 30);
            padding-bottom: rem-calc(120);
        }
    }

    &.wave-bottom {
        padding-bottom: rem-calc(80 + 30);
        padding-top: rem-calc(80);
        @include breakpoint($medium) {
            padding-bottom: rem-calc(120 + 30);
            padding-top: rem-calc(120);
        }
    }
}

.site-main {
    margin-top: rem-calc(-80);

    .entry-content > .vc_row.vc_row-has-fill:first-child {
        padding-top: rem-calc(120 + 80);
        .mobile-image {
            margin-top: rem-calc(-112);
        }
    }

    .entry-content > .vc_row:not(.vc_row-has-fill):first-child {
        margin-top: rem-calc(120 + 80)
    }
}

.site.no-hero-unit .site-main {

    .entry-content > .vc_row.vc_row-has-fill:first-child {
        padding-top: rem-calc(80);
        @include breakpoint($medium) {
            padding-top: rem-calc(120);
        }
    }

    .entry-content > .vc_row:not(.vc_row-has-fill):first-child {
        margin-top: rem-calc(90);

        @include breakpoint($medium) {
            margin-top: rem-calc(120);
        }
    }
}

.site.no-hero-unit .site-main {
    margin-top: 0;
}

.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner {
    padding-top: 0 !important;
}

.has-sidebar {
    .main-content {
        flex-grow: 1;
    }

    .sidebar {
        @include breakpoint($large){
            width: 40%;
            min-width: 40%;
            margin-left: rem-calc(40);
        }
        @include breakpoint($xlarge){
            width: rem-calc(550);
            min-width: rem-calc(550);
            margin-left: rem-calc(135);
        }
    }
}


.single-post-content {

    @include breakpoint($medium){
        .alignleft ,
        .alignright,
        .alignnone {
            margin: 0 auto;

            margin-bottom: rem-calc(20);
        }
        .alignleft {
            float: left;
            margin: rem-calc(0 20 10 0);
        }

        .alignright {
            float: right;
            margin: rem-calc(0 0 10 20);
        }
    }

}