$img-margin: $module-margin / 2;
.alignleft,
.alignright,
.alignnone, 
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  height: auto;

  @include breakpoint(small only) {
    + p,
    p + & {
      @include responsive-margin('top', $module-margin);
    }
  }
}

.alignnone, 
.aligncenter {
  + p,
  p + & {
    @include responsive-margin('top', $module-margin);
  }
}

@include breakpoint(medium) {
    .alignleft {
        float: left;
        margin-right: rem-calc($img-margin);
        margin-bottom: rem-calc($img-margin);
    }
    .alignright {
        float: right;
        margin-left: rem-calc($img-margin);
        margin-bottom: rem-calc($img-margin);
    }

    .alignnone {
      margin-left: 0;
      margin-right: 0;
    }  
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: rem-calc(-5);
  margin-right: rem-calc(-5);
  margin-bottom: rem-calc(-15);


  .gallery-item {
    margin: 0;
    padding: rem-calc(0 5);
    margin-bottom: rem-calc(15);
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.gallery-columns-3 {
    .gallery-item {
      width: 33.3333%;
    }
  }
  
  @include breakpoint($medium){
    &.gallery-columns-4 {
      .gallery-item {
        width: 25%;
      }
    }
  }

}

.single-post-content {
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: rem-calc(24);
  }
  h3 {
    @include typo('h4');
    color: color('blue-light');
    margin-bottom: rem-calc(20);
}



ul, ol  {
  + p {
      margin-top: 0;
  }

  &.columns-2 + p {
      margin-top: rem-calc(10);
  }
}
}