.card
    display: flex
    flex-direction: column
    width: 100%
    +adaptive-value("padding", 40, 20, 0)
    +adaptive-value("row-gap", 40, 20, 0)
    +adaptive-value("column-gap", 40, 20, 0)
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09)
    height: 100%
    &--careers
        justify-content: flex-start
        +max-screen($breakpoint-md)
            max-width: 600px
            margin-left: auto
            margin-right: auto
        .buttons
            margin-top: auto
            margin-right: -15px
            margin-left: -15px
            gap: 15px 0
            .col-lg-6
                padding-right: 15px
                padding-left: 15px
    &--price
        +adaptive-value("padding", 30, 20, 0)
        height: auto
        row-gap: 0
        span
            display: block
            margin-left: auto
            margin-right: 0
            width: max-content
    &--testimonial
        justify-content: flex-start
        +max-screen($breakpoint-lg)
            max-width: 600px
            margin-left: auto
            margin-right: auto
        span
            width: max-content
        div
            margin-top: auto
        h3
            margin-bottom: 4px
    &--case
        row-gap: 0
        // padding-left: 0
        // padding-right: 0
        +max-screen($breakpoint-lg)
            max-width: 600px
            margin-left: auto
            margin-right: auto
        span
            width: max-content
            +adaptive-value("margin-bottom", 24, 15, 0)
        .title_block
            display: flex
            flex-direction: column
            gap: 20px 0
        .row
            margin-right: -40px
            margin-left: -40px
            .col-lg-8
                padding-right: 60px
                padding-left: 20px
            .col-lg-4
                padding-right: 20px
                padding-left: 20px
        .img_block
            height: 100%
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09)
        img
            display: block
            height: 100%
            object-fit: contain
        .hidden_content
            display: none
    ~ .button_block
        +max-screen($breakpoint-lg)
            max-width: 600px
            margin-left: auto
            margin-right: auto
