.card
    display: flex
    flex-direction: column
    width: 100%
    +adaptive-value("padding", 40, 20, 0)
    +adaptive-value("row-gap", 40, 20, 0)
    +adaptive-value("column-gap", 40, 20, 0)
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09)
    height: 100%
    &--careers
        justify-content: flex-start
        +max-screen($breakpoint-md)
            max-width: 600px
            margin-left: auto
            margin-right: auto
        .buttons
            margin-top: auto
            margin-right: -15px
            margin-left: -15px
            gap: 15px 0
            .col-lg-6
                padding-right: 15px
                padding-left: 15px
    &--price
        +adaptive-value("padding", 30, 20, 0)
        height: auto
        row-gap: 0
        span
            display: block
            margin-left: auto
            margin-right: 0
            width: max-content
