.employee
    display: flex
    flex-direction: column
    +adaptive-value("width", 350, 200, 0)
    +adaptive-value("padding-left", 30, 10, 0)
    +adaptive-value("padding-right", 30, 10, 0)
    +adaptive-value("padding-bottom", 59, 30, 0)
    +min-screen($breakpoint-xxl)
        width: 350px
        padding-left: 30px
        padding-bottom: 59px
    +max-screen($breakpoint-xm)
        +adaptive-value("padding-left", 15, 10, 0)
        +adaptive-value("padding-right", 15, 10, 0)
    // padding: 0 35px 59px
    &__image
        border-radius: 50%
        overflow: hidden
        margin-bottom: 30px
        max-width: 280px
        margin-left: auto
        margin-right: auto
        +adaptive-value("max-width", 280, 200, 0)
        aspect-ratio: 1 / 1
        +min-screen($breakpoint-xxl)
            max-width: 280px
        img
            width: 100%
            object-fit: cover
    &__title
        min-height: 72px
        margin-bottom: 10px
        +max-screen($breakpoint-sm)
            min-height: 50px

    &__position
        margin-bottom: 10px
        +max-screen($breakpoint-sm)
            min-height: 40px
            display: flex
            justify-content: center
            align-items: flex-end
    &__text__content
        display: none
    .bio_block
        margin-top: 10px
        gap: 0 20px
        justify-content: center
        a, div
            align-self: center
            display: flex
            line-height: 80%
            height: 100%
            img, svg
                display: block
                align-self: center
                // max-width: 24px
                // max-height: 24px
                +adaptive-value("width", 30, 20, 0)
                +adaptive-value("height", 30, 20, 0)
                +min-screen($breakpoint-xxl)
                    width: 30px
                    height: 30px
            span
                transform: translateY(2px)
                line-height: 80%
                display: block
                align-self: center
            &.linkedin
                transform: translateY(-1px)
        .bio
            cursor: pointer
